<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Organic vs  Non-Organic Traffic Share Percentage</h5>
                    <span class="label label-success pull-right">Updated: {{trafficshare.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="trafficpercentage" width="660" height="285" class="chart chart-line" 
                            chart-options="trafficshare.trafficPercentageOptions" chart-type="trafficshare.trafficPercentageChartType"
                             chart-data="trafficshare.trafficPercentageData" chart-labels="trafficshare.trafficPercentageLabels" 
                             chart-dataset-override="trafficshare.trafficPercentageDatasetOverride" 
                             chart-series="trafficshare.trafficPercentageSeries"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Organic vs  Non-Organic Traffic Volume</h5>
                    <span class="label label-success pull-right">Updated: {{trafficshare.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="trafficvolume" width="660" height="285" class="chart chart-line"
                             chart-options="trafficshare.trafficVolumeOptions" chart-type="trafficshare.trafficVolumeChartType"
                             chart-series="trafficshare.trafficVolumeSeries" 
                             chart-data=" trafficshare.trafficVolumeData"
                              chart-labels="trafficshare.trafficVolumeLabels"
                                chart-colors="trafficshare.trafficVolumeColors"
                                 chart-dataset-override="trafficshare.trafficVolumeDatasetOverride"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Mobile vs Desktop</h5>
                    <span class="label label-success pull-right">Updated: {{trafficshare.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="trafficmobile" width="660" height="285" class="chart chart-line"
                             chart-options="trafficshare.trafficMobileOptions" chart-type="trafficshare.trafficMobileChartType"
                             chart-series="trafficshare.trafficMobileSeries" 
                             chart-data=" trafficshare.trafficMobileData"
                              chart-labels="trafficshare.trafficMobileLabels"
                                chart-colors="trafficshare.trafficMobileColors"
                                 chart-dataset-override="trafficshare.trafficMobileDatasetOverride"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>