<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Organic Traffic Monthly </h5>
                    <span class="label label-success pull-right">Updated: {{trafficcomparison.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="trafficmonthly" width="660" height="285" class="chart chart-line" chart-options="trafficcomparison.trafficMonthlyOptions" chart-type="trafficcomparison.trafficMonthlyChartType" chart-data="trafficcomparison.trafficMonthlyData" chart-labels="trafficcomparison.trafficMonthlyLabels"
                                chart-dataset-override="trafficcomparison.trafficMonthlyDatasetOverride" chart-series="trafficcomparison.trafficMonthlySeries"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Organic Traffic Growth </h5>
                    <span class="label label-success pull-right">Updated: {{trafficcomparison.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="trafficmonthly" width="694" height="285" class="chart chart-bar" chart-options="trafficcomparison.trafficGrowthOptions" chart-series="trafficcomparison.trafficGrowthSeries" chart-data=" trafficcomparison.trafficGrowthData" chart-labels="trafficcomparison.trafficGrowthLabels"
                                chart-colors="trafficcomparison.trafficGrowthColors" chart-dataset-override="trafficcomparison.trafficGrowthDatasetOverride"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 row">
            <div class="col-xs-12 col-lg-offset-2 col-lg-4">
                <div class="ibox float-e-margins chart-box-small">
                    <div class="ibox-title">
                        <h5>Organic Traffic Yearly </h5>
                        <span class="label label-success pull-right">Updated: {{trafficcomparison.todaydate | date: 'dd.MM.yyyy'}}</span>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <canvas id="trafficmonthly" width="285" height="317" class="chart chart-bar" chart-options="trafficcomparison.trafficYearlyOptions" chart-series="trafficcomparison.trafficYearlySeries" chart-data=" trafficcomparison.trafficYearlyData" chart-labels="trafficcomparison.trafficYearlyLabels"
                                    chart-colors="trafficcomparison.trafficYearlyColors" chart-dataset-override="trafficcomparison.trafficYearlyDatasetOverride"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="">
                    <div class="ibox float-e-margins dashboard-number">
                        <div class="ibox-title">
                            <h5>2015 Organic Trafﬁc</h5>
                            <span class="label label-primary pull-right">Updated: {{trafficcomparison.todaydate | date: 'dd.MM.yyyy'}}</span>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{trafficcomparison.Y1 | number: 2}}</h1>

                            <div class="stat-percent font-bold text-primary">{{trafficcomparison.diff | number: 2}}% </div>
                            <small>2015 vs 2016</small>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="ibox float-e-margins dashboard-number ">
                        <div class="ibox-title">
                            <h5>2016 Organic Trafﬁc</h5>
                            <span class="label label-primary pull-right">Updated: {{trafficcomparison.todaydate | date: 'dd.MM.yyyy'}}</span>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{{trafficcomparison.Y2 | number: 2}}</h1>

                            <div class="stat-percent font-bold text-primary">{{trafficcomparison.diff | number: 2}}%</div>
                            <small>2015 vs 2016</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>