<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Twitter Followers Volume and Gain</h5>
                    <span class="label label-success pull-right">Updated: {{twitter.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="twitterVolume" width="660" height="285" class="chart chart-bar" 
                            chart-options="twitter.twitterVolumeOptions" chart-type="twitter.twitterVolumeChartType"
                             chart-data="twitter.twitterVolumeData" chart-labels="twitter.twitterVolumeLabels" 
                             chart-dataset-override="twitter.twitterVolumeDatasetOverride" 
                             chart-series="twitter.twitterVolumeSeries"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Twitter Engagement</h5>
                    <span class="label label-success pull-right">Updated: {{twitter.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="trafficEngagement" width="660" height="285" class="chart chart-bar"
                             chart-options="twitter.trafficEngagementOptions" chart-type="twitter.trafficEngagementChartType"
                             chart-series="twitter.trafficEngagementSeries" 
                             chart-data=" twitter.trafficEngagementData"
                              chart-labels="twitter.trafficEngagementLabels"
                                chart-colors="twitter.trafficEngagementColors"
                                 chart-dataset-override="twitter.trafficEngagementDatasetOverride"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox float-e-margins chart-box">
                <div class="ibox-title">
                    <h5>Twitter Activity</h5>
                    <span class="label label-success pull-right">Updated: {{twitter.todaydate | date: 'dd.MM.yyyy'}}</span>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <canvas id="twitterActivity" width="660" height="285" class="chart chart-bar"
                             chart-options="twitter.twitterActivityOptions" chart-type="twitter.twitterActivityChartType"
                             chart-series="twitter.twitterActivitySeries" 
                             chart-data=" twitter.twitterActivityData"
                              chart-labels="twitter.twitterActivityLabels"
                                chart-colors="twitter.twitterActivityColors"
                                 chart-dataset-override="twitter.twitterActivityDatasetOverride"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>