#page-wrapper {
    background-color: #EEF4F9;
}


.count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    left: 17px;
    right: auto;
    top: 12px;
}


.minimalize-styl-2 {
    padding: 4px 0px;
    margin: 14px 5px 5px 20px;
    float: left;
    font-size: 17px;
    color: black;
}

.navbar-static-top {
    background-color: #f3f3f4;
}

.page-heading, .breadcrumb {
    background-color: #f9f9f9;
}

.chart-box {
    height: 400px !important;
    width: 700px !important;
    text-align: center;
    margin: auto;
}
.chart-box .ibox-title,.dashboard-number .ibox-title, .chart-box-small .ibox-title{
        border-radius: 7px;
    box-shadow: black;
    /* border: 2px; */
    border-style: solid;
    border-width: 2px 2px 1px 2px;
}

.chart-box-small {
    height: 400px !important;
    width: 350px !important;
    text-align: center;
    margin: auto;
}

/*canvas#trafficmonthly {
    height: 285px !important;
    width: 694px !important;
    text-align: center;
    margin: auto;
}*/


.footer {
    background: none;
    border-top: none;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}
